<h1>Nuevo Portafolio</h1>

<%= form_with model: @portfolio do |form| %>
  <div>
    <%= form.label 'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit 'Crear Portafolio' %>
  </div>
<% end %>

</br>
</br>
<%= link_to "Volver", portfolios_path %>