<h1>Nuevo Objetivo de Stock</h1>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>
<%= form_with model: PortfolioStockAim.new, url: portfolio_stock_aim_add_path(@portfolio) do |form| %>
    <div>
        <%= form.label :stock_id, "Accion" %>
        <%= form.collection_select :stock_id, Stock.all, :id, :identifier %>
    </div>

    <div>
        <%= form.label :percentage, "Porcentaje" %>
        <%= form.number_field :percentage,in: 0.1..@remaining_percentage_aim, step: 0.1 %>
    </div>
    <p>Porcentaje restante: <%= @remaining_percentage_aim %>%</p>

    <div>
        <%= form.submit "Crear Objetivo de Stock" %>
    </div>
  </div>
<% end %>


<%= link_to "Volver", portfolio_path(@portfolio) %>