<h1>Stocks</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<div id="stocks">
    <% if @stocks.empty? %>
        <p>No hay acciones creadas.</p>
    <% else %>
        <table>
            <tr>
                <th>ID</th>
                <th>Identificador</th>
                <th>Precio</th>
                <th>Modificar</th>
            </tr>

        

        <% @stocks.each do |stock| %>
            <tr>
            <%= form_with model: stock, url: edit_stock_path(stock) do |form| %>
                <th>
                <%= stock.id %>
                </th>
                <th>
                <%= form.text_field :identifier %>
                </th>
                <th>
                <%= form.number_field :price, step: 0.1 %>
                </th>
                <th>
                <%= form.submit "Modificar" %>
                </th>
            <% end %>
            </tr>
        <% end %>
        </table>
    <% end %>
</div>

<div id="new_stock">
    <h2>Nuevo Stock</h2>

    <%= form_with model: Stock.new, url: new_stock_path() do |form| %>
        <div>
            <%= form.label "Identificador" %>
            <%= form.text_field :identifier %>
        </div>

        <div>
            <%= form.label "Precio" %>
            <%= form.number_field :price, step: 0.1 %>
        </div>

        <div>
            <%= form.submit "Crear Stock" %>
        </div>
    <% end %>
</div>

</br>
</br>
<%= link_to "Volver", portfolios_path %>